version: "3.8"

services:
  bot:
    build:
      context: .
      args:
        MODE: "${MODE:-production}"
    command: tail -f /dev/null
    volumes:
      - ./:/home/tweepy/app/
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:8-alpine
